* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

#sidebar {
    background: #10507A;
    height: 100%;
    width: 20%;
    position: fixed;
}

#topbar {
    background: #10507A;
    position: fixed;
    height: 10%;
    left: 22%;
    width: 78%;
    z-index: 999;
}

#main-page {
    background:  #FFFFFF;
    position: relative;
    top: 12%;
    left: 22%;
    width: 78%;
}

/* MAIN PAGE NAV KDDHFHFHDJDDNDJDJDJDJJDJDJDJDJDJDJDJJD */
.faq-heading {
    padding: 0.5rem;
}

.faq-heading h1{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    
    color: #000000
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #F6FCFF;
  background-color: #F6FCFF;
  border-radius: 10px 0px 0px 10px;
  width: 30%;
  height: 650px;
  margin-top:1rem; 
  margin-bottom: 1rem;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;

  font-size: 16px;
  line-height: 24px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ffffff;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ffffff;
}

.tab .icon-button {
    width: 18px;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #F6FCFF;
  width: 65%;
  border-left: none;
  height: 650px;
  margin-top:1rem; 
  margin-bottom: 1rem;
}

.tabcontent .tabcontent-3 {
     padding: 20px;
}

.tabcontent-3 .add-question-button {
    border: none;
    outline: none;
}

.tabcontent .tabcontent-3 h1 {
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    
    color: #000000;
}

.tabcontent .tabcontent-3 h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    
    display: flex;
    align-items: center;
    text-align: right;
    
    color: #04172A;
}

.tab-nav-icon {
    font-size: 18px;
}

.tab-nav-icon img {
    padding: 0 5px;
}

.accordion .fa{
    margin-right: 0.5rem;
}

.accordion .card {
    margin-top: 5px;
    
}

.accordion .card .card-header {
    background-color: #ffffff;
    font-size: 16px;
    line-height: 160%;
    border: 1px solid #F6FCFF;
    border-radius: 5px;
    color: #343434;
}

.accordion .card .card-header button {
    color: #343434;
}

.accordion .card .card-header button:hover {
    color: #343434;
    text-decoration: none;
}

.accordion .card .card-header button:active, .accordion .card .card-header button:focus {
    outline: none;
}

.modal-body {
    padding: 40px;
}

.modal-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;    
    margin-bottom: 30px;
    
}

.modal .label{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    
    color: #04172A;
}

.modal-body input {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 10px;
    
    color: #989393;
}

.modal-body button {
    background: #4D49FF;
    box-shadow: 0px 5px 25px rgba(77, 73, 255, 0.25);
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: right;
    border: none;
    color: #FFFFFF;
    margin: 20px;
}

.modal-body button:hover {
    background: #4D49FF;
    color: #FFFFFF;
}

.modal-body .add-topic-button {
    background: #4D49FF;
    box-shadow: 0px 5px 25px rgba(77, 73, 255, 0.25);
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    
    padding: 10px;
    color: #FFFFFF;
    width: 130px;
}

/* alerts */
.alert-success, .alert-danger, .alert-light{
    background-color: #10507A;
    color: #ffffff;
    border: none;
}


.delete-modal i {
    color: #10507A;
    font-size: 38px;
}

.delete-modal .no-button{
   background-color: #ffffff;
   color: #10507A;
   padding: 10px;
   text-align: center;
}

.delete-modal .no-button:hover, .delete-modal .no-button:focus {
    background-color: #ffffff;
    color: #10507A;
 }

.delete-modal .yes-button{
    background-color: #10507A;
    color: #ffffff;
    padding: 10px;
    text-align: center;
 }

 .delete-modal .yes-button:hover, .delete-modal .yes-button:focus{
    background-color: #10507A;
    color: #ffffff;
 }

/* MEDIA QUERY */
@media(max-width: 768px) {
    #sidebar {
        display: none;
    }

    #topbar {
        left: 0;
        width: 100%;
    }

    #main-page {
        left: 0;
        width: 100%;
    }
}

@media(max-width: 649px) {
    .tab {
        width: 100%;
        height: auto;
    }

    .tabcontent {
        width: 100%;
        height: auto;
        padding: 0 10px;
    }

    .accordion .card .card-header {
        padding: 4px 5px;
        font-size: 14px;
    }
    .accordion .card .card-header button {
        font-size: 14px;
        
    }

    .tab-nav-icon {
        font-size: 12px;
    }
    
    .tab-nav-icon img {
        display: flex;
        flex-direction: column;
        padding: 0 5px;
        margin-top: 10px;
    }
}